@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-main-counter">
    <div class="container">
        <div class="row pt-5 pb-5 d-flex align-items-center" style="min-height:360px">
            <h1 data-aos="fade-right" data-aos-delay="100" class="col-12 text-center text-light font-weight-bold pb-3" style="font-size:34px">All Users</h1>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center pt-3 pb-3 shadow">
                    <p><i class="fa fa-users text-light" style="font-size:50px"></i></p>
                    <h2 id="user-counter"></h2>
                    <h4>Users</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center pt-3 pb-3 shadow">
                    <p><i class="fas fa-shapes text-light" style="font-size:50px"></i></p>
                    <h2 id="course-counter"></h2>
                    <h4>Courses</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center pt-3 pb-3 shadow">
                    <p><i class="fas fa-clipboard-list text-light" style="font-size:50px"></i></p>
                    <h2 id="exam-counter"></h2>
                    <h4>Exams</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center pt-3 pb-3 shadow">
                    <p><i class="fas fa-question-circle text-light" style="font-size:50px"></i></p>
                    <h2 id="question-counter"></h2>
                    <h4>Questions</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-teacher">
    <div class="container">
        <div class="row pt-5 pb-5" style="background-color:rgb(255,255,255,0.01)">
            <div class="col-12">
                <div class="row pt-3 pb-2 bg-light rounded shadow-sm border">
                    <div class="col-6">
                        <h2 class="font-weight-normal text-secondary"><i class="fas fa-shapes text-danger"></i>&nbsp; All Users</h2>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-plus"></i> &nbsp; Create New Admin</a>
                    </div>
                </div>
                <br />
                <div class="row bg-white mt-2 pt-4 pb-4 rounded shadow-sm border">
                    <div class="col-12">
                        <table id="tblData" class="table table-bordered table-striped w-100">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Courses</th>
                                    <th>Students</th>
                                    <th class="text-center">Edit</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/admin-user.js"></script>
}
