@model OnlineExam.Models.Exam

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-main-counter">
    <div class="container">
        <div class="row pt-5 pb-5 d-flex align-items-center" style="min-height:250px">
            <h2 class="col-12 text-center text-white pb-3">Exam: @Model.Name</h2>
            <div class="col-4">
                <div class="col-12 border-thick border-primary rounded text-white d-flex align-items-center justify-content-center pt-5 pb-5 shadow">
                    <div class="d-inline-block">
                        <i class="fas fa-question-circle mr-4" style="font-size:60px"></i>
                    </div>
                    <div class="d-inline-block">
                        <h2 class="d-inline-block" id="question-counter"></h2>
                        <br />
                        <h4 class="d-inline-block">Questions</h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-12 border-thick border-primary rounded text-white d-flex align-items-center justify-content-center pt-5 pb-5 shadow">
                    <div class="d-inline-block">
                        <i class="fa fa-star mr-4" style="font-size:60px"></i>
                    </div>
                    <div class="d-inline-block">
                        <h2 class="d-inline-block" id="points-counter"></h2>
                        <br />
                        <h4 class="d-inline-block">Total Points</h4>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-12 border-thick border-primary rounded text-white d-flex align-items-center justify-content-center pt-5 pb-5 shadow">
                    <div class="d-inline-block">
                        <i class="fa fa-users mr-4" style="font-size:60px"></i>
                    </div>
                    <div class="d-inline-block">
                        <h2 class="d-inline-block" id="student-counter"></h2>
                        <br />
                        <h4 class="d-inline-block">Students</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-teacher">
    <div class="container">
        <div class="row pt-4 pb-5" style="background-color:rgb(255,255,255,0.01)">
            <div class="col-12">
                <div class="row pt-3 pb-2 bg-light rounded shadow-sm border">
                    <div class="col-6">
                        <h2 class="font-weight-normal text-secondary"><i class="fas fa-question text-danger"></i>&nbsp; Questions</h2>
                    </div>
                    <div class="col-6 text-right">
                        <button onclick="openModal('/Teacher/Question/Upsert?examId=@Model.Id', 'Create Question')"
                                class="btn btn-primary text-white">
                            <i class="fas fa-plus"></i> &nbsp; Create New Question
                        </button>
                    </div>
                </div>
                <br />
                <div class="row bg-white pt-3 pb-3 rounded shadow-sm border">
                    <div class="col-12">
                        <table id="tblData" class="table table-bordered table-hover w-100">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Date Created</th>
                                    <th>Points</th>
                                    <th>Choices</th>
                                    <th class="text-center">Edit</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/question-datatables.js"></script>
    <script src="~/js/question-modal-form.js"></script>
    <script>
        document.getElementById("container-main").className = "container-fluid p-0";
    </script>
}