.bd-callout {
    padding: 0.25rem 1rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e4e5e6;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}
