/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    /* Scrolling behavior for page scrolling */
    scroll-behavior: smooth;
    /* Prevent sticky header from overlapping with page sections when using anchor links */
    scroll-padding-top: 72px;
}
.sticky-div-padding {
    padding-top: 72px !important;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    font-family: Helvetica;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 100px; /* Vertically center the text there */
}

/* ------------------------ Background images for different containers -------------------------- */
.container-main-head {
    background-image: url(../images/background/background_head.jpg);
    background-position: center center;
    background-size: cover;
    height: 280px;
}
.container-main-intro {
    background: #f1f1f1 url(../images/background/cloud_background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.container-main-counter {
    background: url(../images/background/counter.jpg);
    background-position: top;
}
.container-main-courses {
    background: linear-gradient( 45deg, rgba(0, 157, 224, 1) 0%, rgba(0, 172, 65, 1) 100% );
}
.container-student-exam {
    background-image: url(../images/background/tortoise-shell.svg);
}
.container-teacher {
    background-image: url(../images/background/rose-petals.svg);
    background-size: 100% auto;
}
.container-question {
    height: 220px;
    background: url(../images/background/thumbnail-question.svg);
    background-position: center center;
}

/*Styling for sweet alert texts*/
.swal-text {
    text-align: center;
}

/*Styling for DataTables columns*/
td.table-cells-lg {
    height: 100px;
    line-height: 100px;
}
td.table-container-lg {
    position: relative;
    height: 100px;
}
td.table-cells-sm {
    height: 40px;
    line-height: 40px;
}
td.table-container-sm {
    position: relative;
    height: 40px;
}
.table-button-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* ------------------------ Styling for Bootstrap classes -------------------------- */
/*Styling for bootstrap callouts*/
.bd-callout {
    padding: 0.25rem 1rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e4e5e6;
    border-left-width: .50rem;
    border-radius: .50rem;
}
.bd-callout-danger {
    border-left-color: #d9534f;
}

/*Styling for home page course details section*/
.home-description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 120px;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/*Styling for bootstrap nav tabs*/
ul.nav.nav-tabs a:not(.active) {
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
    color: grey;
    transition: all 0.4s;
}
ul.nav.nav-tabs a:not(.active):hover {
    background: #0366d6;
    color: white;
    border-color: #1265ac;
}
ul.nav.nav-tabs a.active {
    border-top: 3px solid #0275d8;
    border-left: 1px solid #0275d8;
    border-right: 1px solid #0275d8;
}

/*Thick border for counter area*/
div.rounded.border-thick {
    border: 3px solid red;
}

/*Dropdown menu transition effect on hover.*/
.dropdown .dropdown-menu {
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s, opacity 0.2s 0.2s;
}
.dropdown:hover .dropdown-menu {
    max-height: 400px;
    opacity: 1;
    transition: max-height 0.6s 0.05s, opacity 0.2s 0.05s;
}

/*Dropdown menu styling.*/
.dropdown-menu a {
    height: 42px;
    display: flex;
    align-items: center;
}
.dropdown-menu a:hover {
    background: linear-gradient(to bottom, #4db1cf, #007bff);
    color: white !important;
}
.dropdown-menu {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*Nav styling.*/
nav {
    height: 72px;
}
nav ul li {
    height: 72px;
    display: flex;
    align-items: center;
}
nav ul li.nav-hover:hover > a {
    color: #e9ecef !important;
    transition: .02s ease 0.02s;
}
nav ul li > a {
    font-size: 105%;
    color: #fff !important;
    transition: .02s ease 0.02s;
}
nav ul li a:hover {
    color: #e9ecef !important;
}

/*Animation for cards.*/
.card-home .card-body {
    height: 227px;
    overflow: hidden;
    transition: .3s ease 0.1s;
}
.card-home .card-body button {
    opacity: 0;
    transition: .3s ease 0.1s;
}
.card-home:hover .card-body button {
    opacity: 1;
    visibility: visible;
}
.card-home .card-body > p {
    height: 120px;
    transition: .3s ease 0.1s;
}
.card-home:hover .card-body > p {
    height: 72px;
}
.card-home .card-body small {
    opacity: 0;
    transition: .3s ease 0.1s;
}
.card-home:hover .card-body small {
    opacity: 1;
}

/*Styling for loading icon*/
.loader-body {
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}
.d-none {
    display: none !important;
}

/*Stick navbar styling*/
.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Animation for intro arrow.*/
.arrow {
    position: relative;
    animation-name: arrow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}
@keyframes arrow {
    0% {
        opacity: 0.0;
        top: 0px;
    }
    25% {
        opacity: 0.75;
    }
    80% {
        top: 32px;
        opacity: 1.0;
    }
    100% {
        top: 40px;
        opacity: 0.0;
    }

}