@model OnlineExam.Models.Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-main-counter">
    <div class="container">
        <div data-aos="fade-in" data-aos-once="true" class="row pt-5 pb-5 d-flex align-items-center" style="min-height:360px">
            <h1 data-aos="fade-right" data-aos-delay="100" class="col-12 text-center font-weight-bold pb-3" style="font-size:34px; color:#e8b87e"><span class="text-white-50">Course:</span> @Model.Name</h1>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center py-3 rounded-0 shadow">
                    <p><i class="fa fa-users text-light" style="font-size:50px"></i></p>
                    <h2 id="student-counter"></h2>
                    <h4>Students</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center py-3 rounded-0 shadow">
                    <p><i class="fas fa-sticky-note text-light" style="font-size:50px"></i></p>
                    <h2 id="exam-counter"></h2>
                    <h4>Exams</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center py-3 rounded-0 shadow">
                    <p><i class="fas fa-question-circle text-light" style="font-size:50px"></i></p>
                    <h2 id="question-counter"></h2>
                    <h4>Questions</h4>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 border-thick border-primary rounded text-white text-center py-3 rounded-0 shadow">
                    <p><i class="fa fa-user-edit text-light" style="font-size:50px"></i></p>
                    <h2 id="request-counter"></h2>
                    <h4>Requests</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-teacher">
    <div class="container">
        <div class="row pt-5 pb-5" style="background-color:rgb(255,255,255,0.01)">
            <div class="col-12 p-0 pt-3 rounded-top bg-light">
                <ul class="nav nav-tabs border-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" id="exam" data-toggle="tab" href="#exam-tab"><i class="fas fa-sticky-note"></i> Exams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="student" data-toggle="tab" href="#student-tab"><i class="fas fa-user-friends"></i> Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="request" data-toggle="tab" href="#request-tab"><i class="fas fa-user-edit"></i> Enrollment Requests</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="row pt-3 pb-2 rounded-bottom bg-light shadow-sm nav-exam exam">
                    <div class="col-6">
                        <h2 class="font-weight-normal text-secondary"><i class="fas fa-sticky-note text-danger"></i>&nbsp; Exams</h2>
                    </div>
                    <div class="col-6 text-right">
                        <button onclick="openModal('/Teacher/Exam/Upsert?courseId=@Model.Id', 'Create Exam')"
                                class="btn btn-primary text-white">
                            <i class="fas fa-plus" style="color:#eebd81"></i> &nbsp; Create New Exam
                        </button>
                    </div>
                </div>
                <div class="row pt-3 pb-2 rounded-bottom bg-light shadow-sm d-none nav-exam student">
                    <div class="col-12">
                        <h2 class="font-weight-normal text-secondary"><i class="fas fa-user-friends text-danger"></i>&nbsp; Students</h2>
                    </div>
                </div>
                <div class="row pt-3 pb-2 rounded-bottom bg-light shadow-sm d-none nav-exam request">
                    <div class="col-12">
                        <h2 class="font-weight-normal text-secondary"><i class="fas fa-user-edit text-danger"></i>&nbsp; Requests</h2>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="exam-tab" role="tabpanel" aria-labelledby="exam-tab">
                        <div class="row bg-white mt-2 pt-4 pb-4 rounded shadow-sm border">
                            <div class="col-12">
                                <table id="table-exam" class="table table-bordered border-top-0 table-striped w-100">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Date Created</th>
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Questions</th>
                                            <th class="text-center">Edit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="student-tab" role="tabpanel" aria-labelledby="student-tab">
                        <div class="row bg-white mt-2 pt-4 pb-4 rounded shadow-sm border">
                            <div class="col-12">
                                <table id="table-students" class="table table-bordered border-top-0 table-striped w-100">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Enrollment Date</th>
                                            <th class="text-center">Edit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="request-tab" role="tabpanel" aria-labelledby="request-tab">
                        <div class="row bg-white mt-2 pt-4 pb-4 rounded shadow-sm border">
                            <div class="col-12">
                                <table id="table-requests" class="table table-bordered border-top-0 table-striped w-100">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Request Date</th>
                                            <th class="text-center">Edit</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content bg-light border-0">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/exam-datatables.js"></script>
    <script src="~/js/exam-modal-form.js"></script>
}