@model OnlineExam.Models.ViewModels.StudentQuestionVM

<div class="container-student-exam">
    <input type="hidden" asp-for="Duration" value="@string.Format("{0:hh\\:mm}", Model.Duration)" id="duration" />
    <input type="hidden" asp-for="CourseId" id="course-id" />
    <div class="container border-left border-right">
        <div class="row pt-4" style="background-color:#f6f6f6; min-height:77vh">
            <div class="col-md-2 text-center">
                <div class="card shadow-sm" style="margin-top:6px; background:#e3e7ea">
                    <div class="card-body">
                        <h4 class="text-primary font-weight-bold">Question</h4>
                        <h4 class="text-secondary font-weight-bold shadow-sm card border-light py-2" style="background:#eebd81" id="q-header">1</h4>
                    </div>
                    <hr class="my-0">
                    <div class="card-body rounded-bottom" style="background:#e3e7ea">
                        <h4 class="text-primary font-weight-bold mt-2">Points</h4>
                        <h4 class="text-secondary font-weight-bold card border-light shadow-sm py-2" style="background-color:#eebd81" id="q-points"></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-md-12 mb-4">
                    <table id="table-questions" class="card shadow-sm border-secondary" style="width: 100%; border-color:#cecece !important">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-light"></th>
                            </tr>
                        </thead>
                    </table>

                    <!-- Loader -->
                    <div class="d-flex align-items-center justify-content-center d-none" style="height:400px" id="loader-body">
                        <div class="fa-3x text-primary">
                            <i class="fas fa-circle-notch fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm" style="margin-top:6px; background:#e3e7ea">
                    <div class="card-body text-primary text-center" id="clockdiv">
                        <h4 class="font-weight-bold"><i class="far fa-clock"></i> Time Left</h4>
                        <h4 class="text-secondary font-weight-bold card border-light shadow-sm d-inline-block py-2 px-4" style="background:#eebd81">
                            <span class="hours"></span><span class="minutes"></span><span class="seconds"></span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-12 rounded border border-secondary shadow-sm" style="background:#e3e7ea; border-color:rgba(0,0,0,.125) !important" id="q-palette">
                    <h4 class="text-primary font-weight-bold text-center p-2">Questions</h4>
                    @{
                        int index = 1;
                        foreach (var item in Model.QuestionIds)
                        {
                            <div class="btn-group-vertical mb-2 q-no" style="margin:0.04rem; cursor:pointer;">
                                <span class="btn btn-sm btn-primary shadow-sm" style="width:32px; height:24px; line-height:15px; pointer-events:none">@index</span>
                                <span class="btn btn-sm btn-light btn-outline-primary shadow-sm" style="width:32px; height:24px; line-height:15px; pointer-events:none" id="@item"><i class="fa fas fa-question"></i></span>
                            </div>
                            index++;
                        }
                    }
                    <div class="btn-group text-white text-md-center d-flex mt-3 mb-3" style="cursor:pointer">
                        <a class="btn btn-danger overflow-hidden w-100" id="q-prev">Previous Question</a>
                        <a class="btn btn-success overflow-hidden w-100" id="q-next">Next Question</a>
                    </div>
                </div>
                <div class="col-md-12 rounded mt-3 p-0 shadow-sm" style="cursor:pointer">
                    <a class="btn btn-danger btn-lg text-white w-100" id="btn-exit" onclick=finishExam()>Save & Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/student-question-index.js"></script>
}
